@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
.t{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    display: block;
    text-align: center;
}

body{
    margin: 0;
    background-color: #D9C5BC;
}
.app{
    margin: 0px;
    width: 1;
    padding: 0px;
}
.Paper{
    background-color: #D9C5BC;
}
.Box{
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: space-between;
}